<!-- 双11悬浮广告 -->
<!-- <div class="dbeleven-float">
      <a class="rp" href="javascript:;" data-tjname="dbeleven_toutiaoh5_index_float">
          <img src="img/dbeleven/float.png" alt="">
      </a>
  </div> -->

<!-- 双11活动banner -->
<!-- <div class="act-banner">
      <a href="javascript:;" class="banner"><img src="" alt=""></a>
      <a href="javascript:;" class="close"></a>
  </div> -->

<!-- 夺宝H5引流 -->
<!-- <div class="duobao-hongbao-wrap">
      <a id="J_hb_sm" class="hb-sm" href="javascript:;"></a>
      <div id="J_hb_lg_wrap" class="hongbao-large">
          <div class="wrap">
              <a href="//duobao.duiduikan.com/?cid=29" class="hb-lg"></a>
              <p>红包可以在“我的夺宝”-“我的红包”中查看</p>
              <a href="javascript:;" class="close"></a>
          </div>
      </div>
  </div> -->


<!-- <div id="DFTTAPPFLOAT" class="DFTT-APP-FLOAT-WRAP">
      <div class="app-download-wrap" style="display: block !important;">
          <a href="javascript:;" class="close"></a>
          <a href="javascript:;" target="_self" class="download" rel="nofollow">
              <div class="logo">
                  <div class="mask"></div>
              </div>
              <div class="banner-label">
                  <p class="tb" data-node="appName">东方头条</p>
                  <p class="title-sub">看新闻赢积分，兑现金好礼</p>
              </div>
              <div class="open">立即打开</div>
          </a>
      </div>
  </div> -->

<p style="display:none;font-size:0;">东方头条网-东方网旗下《东方头条》是一款会自动学习的资讯软件,它会分析你的兴趣爱好,为你推荐喜欢的内容,并且越用越懂你.就要你好看,东方头条新闻网!</p>
<header>
  <!-- title -->
  <!-- <section class="top-title">
          <a href="javascript:;" class="refresh" id="J_refresh"><span></span></a>
          <a href="search.html" class="search"></a>
      </section> -->
  <!-- menu -->
  <section class="top-menu">
    <div id="J_top_menu" class="top-menu-list">
      <!-- <a class="active" data-type="toutiao">头条</a><a data-type="weikandian">滚动</a> -->
    </div>
    <div class="menu-more">
      <div class="list-shadow"></div>
      <a href="subscribe.html" class="more-btn"></a>
    </div>
  </section>
</header>

<div id="J_content" class="news-list">
  <!-- 体育频道模板 -->
  <!-- <section class="sec-match" id="secMatch">
          <ul class="clearfix">
              <li class="clearfix">
                  <a href="http://msports.eastday.com/live/170713100000000967284.html" suffix="btype=index&amp;subtype=recMatch&amp;idx=0">
                      <h3>NBA夏季联赛</h3>
                      <div class="team">
                          <img src="http://imgsports.eastday.com/sports/icons/team/db48c6e07a09cb9bc81388adf5df5362.png" alt="">
                          <p>公牛</p>
                      </div>
                      <div class="info" id="1499911200000967284">
                          <div class="score">77-88</div>
                          <span>集锦</span>
                      </div>
                      <div class="team">
                          <img src="http://imgsports.eastday.com/sports/icons/team/2f3577cb5882721a98d7b9c8a9bd1aa6.png" alt="">
                          <p>开拓者</p>
                      </div>
                  </a>
              </li>
              <li class="clearfix">
                  <a href="http://msports.eastday.com/live/170713103000000301013.html" suffix="btype=index&amp;subtype=recMatch&amp;idx=1">
                      <h3>NBA夏季联赛</h3>
                      <div class="team">
                          <img src="http://imgsports.eastday.com/sports/icons/team/e63afe20ad64f17cb537c6829dc0408b.png" alt="">
                          <p>湖人</p>
                      </div>
                      <div class="info" id="1499913000000301013">
                          <div class="score">77-86</div>
                          <span class="white">预约</span>
                      </div>
                      <div class="team">
                          <img src="http://imgsports.eastday.com/sports/icons/team/7adc3d69121066812c55450a22e8c49f.png" alt="">
                          <p>76人</p>
                      </div>
                  </a>
              </li>
          </ul>
      </section> -->

  <!-- 王者荣耀频道模板 -->
  <!-- <div class="wangzhe-container">
          <div class="swiper-container">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <img src="img/wangzhe/banner.png" alt="" width="100%">
                      <p class="desc">第23期，让对手无处可逃的干将莫邪！</p>
                  </div>
                  <div class="swiper-slide">
                      <img src="img/wangzhe/banner.png" alt="" width="100%">
                      <p class="desc">第24期，让对手无处可逃的干将莫邪！</p>
                  </div>
                  <div class="swiper-slide">
                      <img src="img/wangzhe/banner.png" alt="" width="100%">
                      <p class="desc">第25期，让对手无处可逃的干将莫邪！</p>
                  </div>
                  <div class="swiper-slide">
                      <img src="img/wangzhe/banner.png" alt="" width="100%">
                      <p class="desc">第26期，让对手无处可逃的干将莫邪！</p>
                  </div>
              </div>
              <div class="swiper-pagination"></div>
          </div>
          <div class="hero-list">
              <a class="hero-item" href="javascript:;">
                  <img class="avatar" src="img/wangzhe/hero1.png" alt="">
                  <span class="name">大乔</span>
              </a>
              <a class="hero-item" href="javascript:;">
                  <img class="avatar" src="img/wangzhe/hero2.png" alt="">
                  <span class="name">诸葛亮</span>
              </a>
              <a class="hero-item" href="javascript:;">
                  <img class="avatar" src="img/wangzhe/hero3.png" alt="">
                  <span class="name">张飞</span>
              </a>
              <a class="hero-item" href="javascript:;">
                  <img class="avatar" src="img/wangzhe/hero4.png" alt="">
                  <span class="name">哪吒</span>
              </a>
              <a class="hero-item" href="javascript:;">
                  <img class="avatar" src="img/wangzhe/hero5.png" alt="">
                  <span class="name">东皇太一</span>
              </a>
              <a href="javascript:;" class="hero-more">更多英雄</a>
          </div>
      </div> -->

  <div id="J_news_list" class="news-list-wrap">
    <!-- <div class="news-pic-ctg">
              <a href="javascript:;">推荐</a><a href="javascript:;">老照片</a><a href="javascript:;">摄影集</a>
          </div>
          <section class="news-item news-item-pic-link">
              <a data-type="vyule" data-subtype="" href="//mini.eastday.com/video/vyule/20160801/160801081729004518864.html?qid=null&amp;idx=2&amp;recommendtype=-1&amp;ishot=1&amp;fr=//toutiao.eastday.com/">
                  <div class="img-wrap">
                      <img src="//imgmini.eastday.com/meinv/weimeixiezhen/weimeixiezhen_00013846/0001.jpg" alt="">
                      <span class="num">16图</span>
                  </div>
                  <h3>悠闲的妹子秋日摄影记</h3>
                  <p class="tags clearfix">
                      <em class="time"><i class="hot">热门</i></em>
                      <em class="comment">8评论</em>
                      <em class="view">933阅读</em>
                      <em class="src fr">环球网</em>
                  </p>
              </a>
          </section>
          <section class="news-item news-item-pic-link">
              <a data-type="vyule" data-subtype="" href="//mini.eastday.com/video/vyule/20160801/160801081729004518864.html?qid=null&amp;idx=2&amp;recommendtype=-1&amp;ishot=1&amp;fr=//toutiao.eastday.com/">
                  <div class="img-wrap">
                      <img src="//imgmini.eastday.com/meinv/weimeixiezhen/weimeixiezhen_00013846/0001.jpg" alt="">
                      <span class="num">16图</span>
                  </div>
                  <h3>悠闲的妹子秋日摄影记</h3>
                  <p class="tags clearfix">
                      <em class="time"><i class="hot">热门</i></em>
                      <em class="comment">8评论</em>
                      <em class="view">933阅读</em>
                      <em class="src fr">环球网</em>
                  </p>
              </a>
          </section> -->
    <!-- 段子频道模板 -->
    <!-- <section class="news-item news-item-duanzi">
              <a href="javascript:;" class="content">前两天下起了冰雹，接儿子放学回来，一进门就神秘兮兮的从衣兜里掏出一个辣条袋子，打开的时候脸上的表情由兴奋，喜悦，慢慢变得失望，接着大哭起来，吓坏我了。儿子把袋子里的水倒着，边倒边说：“今天在学校里，天上掉下好多珍珠，我捡了送给妈妈做项链的！可是它不见了</a>
              <div class="options">
                  <span class="J-duanzi-good good active" data-rowkey="2001_9223370532832375789">4</span>
                  <span class="J-duanzi-bad bad" data-rowkey="2001_9223370532832375789">6</span>
                  <span class="J-duanzi-comment comment">12</span>
              </div>
          </section> -->

  </div>
  <div id="J_loading" class="loading">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <p class="txt">数据加载中</p>
  </div>
</div>
<!--<script type="text/javascript" src="//msports.eastday.com/h5/js/lazyload.min.js"></script>-->

